<div class="content" role="main">
  <ng-container *ngIf="selectedNav == 0;">
    <h2>What are your main areas of focus?</h2>
    <p class="sub-title">This will help us build a personalized experience for you</p>
    <div class="card-container">
      <ng-container *ngFor="let item of items">
        <div class="card" [ngClass]="{'selected': selectedItem == item}" (click)="selectedItem = item">
          {{item}}
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedNav >0">
    <h2>Page {{selectedNav + 1}}</h2>
  </ng-container>
  <div class="nav">
    <div class="nav-button" (click)="back()">BACK</div>
    <div class="nav-dots">
      <div class="dot" [ngClass]="{'active': dot == selectedNav}" (click)="selectedNav = dot" *ngFor="let dot of navs">
      </div>
    </div>
    <div class="nav-button" (click)="next()">NEXT</div>
  </div>
</div>